USE [CapsuleFSD]
GO
/****** Object:  Table [dbo].[T_TASK]    Script Date: 30-08-2018 11:15:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_TASK](
	[TASK_ID] [int] IDENTITY(1,1) NOT NULL,
	[PARENT_ID] [int] NULL,
	[TASK] [varchar](255) NOT NULL,
	[START_DT] [date] NOT NULL,
	[END_DT] [date] NOT NULL,
	[PRIORITY] [int] NOT NULL,
	[CRT_DT] [datetime] NOT NULL,
	[CRT_BY] [varchar](25) NOT NULL,
	[UPDT_DT] [datetime] NULL,
	[UPDT_BY] [varchar](25) NULL,
	[ACT_IND] [char](1) NOT NULL,
 CONSTRAINT [PK_T_TASK] PRIMARY KEY CLUSTERED 
(
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[T_TASK] ON 

GO
INSERT [dbo].[T_TASK] ([TASK_ID], [PARENT_ID], [TASK], [START_DT], [END_DT], [PRIORITY], [CRT_DT], [CRT_BY], [UPDT_DT], [UPDT_BY], [ACT_IND]) VALUES (1, 1, N'Coding', CAST(0x9D3E0B00 AS Date), CAST(0xA03E0B00 AS Date), 1, CAST(0x0000A94300000000 AS DateTime), N'2018-08-21', CAST(0x0000A9450113613B AS DateTime), N'TaskManagerUI', N'Y')
GO
INSERT [dbo].[T_TASK] ([TASK_ID], [PARENT_ID], [TASK], [START_DT], [END_DT], [PRIORITY], [CRT_DT], [CRT_BY], [UPDT_DT], [UPDT_BY], [ACT_IND]) VALUES (2, 1, N'Test', CAST(0x903E0B00 AS Date), CAST(0x9F3E0B00 AS Date), 2, CAST(0x0000A94300D0E54F AS DateTime), N'TaskManagerUI', CAST(0x0000A94500FE7F4E AS DateTime), N'TaskManagerUI', N'Y')
GO
INSERT [dbo].[T_TASK] ([TASK_ID], [PARENT_ID], [TASK], [START_DT], [END_DT], [PRIORITY], [CRT_DT], [CRT_BY], [UPDT_DT], [UPDT_BY], [ACT_IND]) VALUES (3, 1, N'Coding of module 1', CAST(0x8A3E0B00 AS Date), CAST(0xA13E0B00 AS Date), 3, CAST(0x0000A94301892290 AS DateTime), N'TaskManagerUI', CAST(0x0000A9460005B172 AS DateTime), N'TaskManagerUI', N'N')
GO
SET IDENTITY_INSERT [dbo].[T_TASK] OFF
GO
ALTER TABLE [dbo].[T_TASK] ADD  CONSTRAINT [DF_T_TASK_ACT_IND]  DEFAULT ('Y') FOR [ACT_IND]
GO
